
/* CREATE GRANT BUTTONS */
.prospect, .pending, .development {
    height: 100px;
}
.login-form {
    height: 200px;
    background-color: #f2f2f2;
}

.postAward {
    height: 100px;
    color: white;
    background-color: DarkOrange;
    -webkit-transition:background-color 1s;
    transition: background-color 1s;
}
.postAward:hover {
    background-color: orange;
}
.prospect {
    color: white;
    background-color: blue;
    -webkit-transition:background-color 1s;
    transition: background-color 1s;
}
.prospect:hover {
    background-color: aqua;
}
.pending {
    color: white;
    background-color: purple;
    -webkit-transition:background-color 1s;
    transition: background-color 1s;
}
.pending:hover {
    background-color: plum;
}
.development {
    color: white;
    background-color: red;
    -webkit-transition:background-color 1s;
    transition: background-color 1s;
}
.development:hover {
    background-color: hotpink;
}

/* MESSAGE COLORING */
.success {
    color: green;
}
.danger {
    color: red;
}

/* GRANT SEARCH */
.grant-search {
    margin: 10px 0px 40px 0px;
}